#first, #third,.square{
    width:100px;
    height: 100px;
    background-color: #b3d4fc;
    float: left;
    margin: 5px;
}
#first{
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    position: absolute;
    left: 0;
    top: 150px;
}
#second{
    width: 50px;
    height: 50px;
    background-color: gold;
    --anchor-verticalCenter: parent verticalCenter absolute;
    --anchor-horizontalCenter: parent horizontalCenter absolute;
}
#fourth{
    width: 20px;
    height: 20px;
    background-color: gold;
    --anchor-bottom: parent verticalCenter;
    --anchor-left: parent left;
}
.square:nth-child(even) .center{
    width: 50px;
    height: 50px;
    background-color: gold;
    --anchor-verticalCenter: parent verticalCenter;
    --anchor-left: parent left;
}
.square:nth-child(odd) .center{
    width: 50px;
    height: 50px;
    background-color: gold;
    --anchor-verticalCenter: parent verticalCenter;
    --anchor-right: parent right;
}

.center-inner{
    width:  10px;
    height: 10px;
    --anchor-verticalCenter: parent verticalCenter;
    --anchor-horizontalCenter: parent horizontalCenter;
    background-color: aquamarine;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:150px;}
    25%  {background-color:yellow; left:200px; top:150px;}
    50%  {background-color:blue; left:200px; top:350px;}
    75%  {background-color:green; left:0px; top:350px;}
    100% {background-color:red; left:0px; top:150px;}
}
